@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-image:url('C:\Users\naikk\Documents\FRONTEND DEVELOPMENT\restaurent app react\restaurent-app\src\assets\pexels-malidate-van-769289.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:auto;
}